body{
    padding-top: 40px;
}

.spinner{
    margin-top: 130px;
    text-align: center;
    
}


.fixedHeading{
    margin-top:20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: whitesmoke;
}



.heading{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.searchInput{
    width: 800px;
    height: 45px;
    margin-right: 20px;
    
}

.loadMoreButton{
    display: block;
    
    margin: 50px auto;
}

.addBtn{
    height: 45px;
}

.form-label{
    font-size: larger;
}
.form-control{
    width: 1000px
}

textarea{
    height:150px
}
.btn-container{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.Count{
    display: flex;
    color:black;
    font-size: 16px;
    text-align: start;
    margin-left: 205px;
    padding: 0;
}